<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="mainPage :: mainHead">
</head>
<body onload="roleDiff()">


<div id="wrapper">
    <nav th:replace="mainPage :: navi" class="navbar navbar-default navbar-fixed-top" role="navigation"
         style="margin-bottom: 0"></nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">咨询服务管理</h2>
            </div>
        </div>

        <br/>

        <div class="modal fade" id="viewResponse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">当前回答</h4>
                    </div>
                    <form role="form" id="viewResponseForm">
                        <div class="modal-body row">

                            <div class="col-lg-12">

                                <div class="form-group">

                                    <textarea id="response" name="response" class="form-control" placeholder="">
                                        asdklfjklsdjfkljklsdasdfgsdffjk;fjkl;f il;asdhj
                                    </textarea>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" >
                                        重新编辑后提交
                                    </button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="cancel('addBonusForm')">
                                        返回
                                    </button>
                                    <input type="reset" class="btn btn-default" value="重置"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <div class="modal fade" id="addResponse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">添加回答</h4>
                    </div>
                    <form role="form" id="addResponseForm">
                        <div class="modal-body row">

                            <div class="col-lg-12">

                                <div class="form-group">

                                    <textarea id="addResponses" name="addResponses" class="form-control" placeholder="在此处添加回答">

                                    </textarea>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" >
                                        提交
                                    </button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="cancel('addBonusForm')">
                                        返回
                                    </button>
                                    <input type="reset" class="btn btn-default" value="重置"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        阿萨德
                    </div>
                    <div class="panel-body">
                        <p>请问购买了产品后享受多少年的维修期？</p>
                        <p></p>
                        <p></p>
                    </div>
                    <div class="panel-footer" >
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewResponse">已回答（查看回答）
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        小明
                    </div>
                    <div class="panel-body">
                        <p>请问在多少天之内可以进行包退或者包换服务</p>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addResponse">未回答（添加回答）
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        小白
                    </div>
                    <div class="panel-body">
                        <p>请问XXXXXX</p>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewResponse">已回答（查看回答）
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        小兰
                    </div>
                    <div class="panel-body">
                        <p>请问XXXXXXXXXXXXXXXXXX.</p>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addResponse">未回答（添加回答）
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        小黑
                    </div>
                    <div class="panel-body">
                        <p>请问XXXXXXXXXXXXXXXXX</p>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewResponse">已回答（查看回答）
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                       小阿萨
                    </div>
                    <div class="panel-body">
                        <p>请问DDXXXXXXXXXXXXXX</p>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addResponse">未回答（添加回答）
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>


    </div>
</div>



<script src="/js/birthday.js"></script>
<script src="/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/js/plugins/dataTables/dataTables.bootstrap.js"></script>

</body>
</html>