<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="mainPage :: mainHead">

</head>
<body onload="roleDiff()">
<div class="modal fade" id="newCustomer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">录入客户</h4>
            </div>
            <div class="modal-body row">
                <div class="col-lg-5">
                    <div class="form-group">
                        <label class="form-label">客户单位名称</label>
                        <textarea class="form-control" placeholder="个体户填写联系人姓名，公司填写公司名称" style="resize: none;"
                                  id="companyName" name="companyName"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="form-label">客户性质</label>
                        <br/>
                        <label class="radio-inline">
                            <input type="radio" name="customerType" id="company" value="company"/>公司
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="customerType" id="self" value="self"/>个体户
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="form-label">潜在客户</label>
                        <br/>
                        <label class="radio-inline">
                            <input type="radio" name="potential" id="potential" value="potential"/>是
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="potential" id="notPotential" value="notPotential"/>否
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="form-label">客户主要业务</label>
                        <textarea class="form-control" placeholder="客户公司的主营业务" style="resize: none;" id="mainBusiness"
                                  name="mainBusiness"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="form-label">公司类型</label>
                        <input id="companyType" name="companyType" class="form-control" type="text" placeholder="公司类型"/>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="form-group">
                        <label class="form-label">联系人姓名</label>
                        <input id="contactName" name="contactName" class="form-control" type="text"
                               placeholder="联系人姓名"/>
                    </div>
                    <div class="form-group">
                        <label class="form-label">联系人年龄</label>
                        <input id="contactAge" name="contactAge" class="form-control" type="text" placeholder="联系人年龄"/>
                    </div>
                    <div class="form-group">
                        <label class="form-label">联系人性别</label>
                        <br/>
                        <label class="radio-inline">
                            <input type="radio" name="sex" id="man" value="woman"/>男
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="sex" id="woman" value="woman"/>女
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="form-label">联系人手机号码</label>
                        <input id="contactPhoneNumber" name="contactPhoneNumber" class="form-control" type="text"
                               placeholder="联系人手机号码"/>
                    </div>
                    <div class="form-group">
                        <label class="form-label">联系人邮箱</label>
                        <input id="contactEmail" name="contactEmail" class="form-control" type="text"
                               placeholder="联系人邮箱"/>
                    </div>
                    <div class="form-group">
                        <label class="form-label">联系人住址</label>
                        <input id="contactAddress" name="contactAddress" class="form-control" type="text"
                               placeholder="联系人住址"/>
                    </div>
                    <div class="form-group">
                        <label class="form-label">联系人兴趣爱好</label>
                        <input id="contactHobby" name="contactHobby" class="form-control" type="text"
                               placeholder="联系人兴趣爱好"/>
                    </div>
                    <div class="form-group">
                        <label class="form-label">联系人生日</label>
                        <div class="form-inline">
                            <label class="form-label">
                                <select class="form-control" id="year">
                                </select>
                                年
                            </label>
                            <label class="form-label">
                                <select class="form-control" id="month">
                                </select>
                                月
                            </label>
                            <label class="form-label">
                                <select class="form-control" id="day">
                                </select>
                                日
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="addCustomer()">
                    提交
                </button>
            </div>
        </div>
    </div>
</div>
<div id="wrapper">
    <nav th:replace="mainPage :: navi" class="navbar navbar-default navbar-fixed-top" role="navigation"
         style="margin-bottom: 0"></nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">客户管理</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newCustomer">录入客户
                </button>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        查询客户
                    </div>
                    <div class="panel-body">
                        <div class="form-group input-group">
                            <input name="search" type="text" class="form-control" placeholder="输入搜索内容"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="searchCustomer()"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1"
                                       checked=""/>按编号
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2"
                                       value="option2"/>按客户姓名
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3"
                                       value="option3"/>按对接业务员
                            </label>
                            <div class="form-group form-inline pull-right">
                                <label class="form-label">来源:
                                    <select class="form-control">
                                        <option>全部</option>
                                        <option>跟踪</option>
                                        <option>搁置</option>
                                        <option>成功</option>
                                        <option>失败</option>
                                        <option>失效</option>
                                    </select>
                                </label>
                                &nbsp;&nbsp;
                                <label class="form-label">行业:
                                    <select class="form-control">
                                        <option>全部</option>
                                        <option>1/7 初期沟通</option>
                                        <option>2/7 立项评估</option>
                                        <option>3/7 需求分析</option>
                                        <option>4/7 方案制定</option>
                                        <option>5/7 招投标竞争</option>
                                        <option>6/7 商务谈判</option>
                                        <option>7/7 合同签约</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!--表格-->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        跟单查询结果
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>公司名称</th>
                                    <th>联系人</th>
                                    <th>公司主营业务</th>
                                    <th>业务员</th>
                                    <th>最近互动时间</th>
                                </tr>
                                </thead>
                                <tbody id="searchBody">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<script src="/js/birthday.js"></script>
<script src="/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#dataTables-example').dataTable({
            language: {
                url: "/json/dataTables_cn.json"
            }
        });
    });
    function addCustomer() {
        $.ajax({
            type: "POST",
            url: "/staff/addCustomer",
            data: JSON.stringify({
                isCompany: true,
                tag: "",
                isPotential: true,
                address: "",
                mainBusiness: "",
                name: $('#companyName').val(),
                type: "",
                representative: {
                    hobby: "",
                    birthday: "",
                    name: $('#contactName').val(),
                    sex: true,
                    age: 11,
                    address: "",
                    phoneNumber: "",
                    email: ""
                }
            }),
            contentType: "application/json;charset=utf-8",
            dataType: "text",
            success: function (msg) {
                searchCustomer();
            }
        })
    }

    //<![CDATA[
    function searchCustomer() {
        var tbody = $('#searchBody');
        tbody.html("");
        $.ajax({
            type: "GET",
            url: "/staff/searchCustomer",
            data: {

            },
            dataType: "json",
            success: function (customer) {
                for (var i=0; i<customer.length; i++){
                    var content = "<tr>";
                    content += "<td>" + customer[i].id + "</td>" +
                        "<td>" + customer[i].name + "</td>" +
                        "<td>" + customer[i].representative.name + "</td>" +
                        "<td>" + customer[i].mainBusiness + "</td>" +
                        "<td></td>" +
                        "<td></td></tr>";
                    tbody.append(content);
                }
            }
        })
    } //]]>

</script>
</body>
</html>