<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="mainPage :: mainHead">
</head>
<body onload="roleDiff()">
<div class="modal fade" id="hint" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">提示：</h4>
            </div>
            <div id="hintContent" class="modal-body">

            </div>
            <div class="modal-footer">
                <button id="fail" type="button" class="btn btn-primary" data-dismiss="modal">
                    关闭
                </button>
                <button id="success" onclick="window.location.href = '/staff/resignManagementOfSalesman'" type="button" class="btn btn-primary" data-dismiss="modal">
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>
<div id="wrapper">
    <nav th:replace="mainPage :: navi" class="navbar navbar-default navbar-fixed-top" role="navigation"
         style="margin-bottom: 0"></nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">离职申请</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                            员工离职申请
                        </div>
                    <form role="form" id="resignForm" data-toggle="validator" onsubmit="return false">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">
                                            离职时间：
                                        </label>
                                        <input required="required" data-dateAfterToday="" id="departureDate" class="form-control" type="date" placeholder=""/>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">
                                            离职原因：
                                        </label>
                                        <textarea required="required" id="reason" class="form-control" style="resize: none;" placeholder=""></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">
                                            对公司的建议：
                                        </label>
                                        <textarea id="advise" class="form-control" style="resize: none;" placeholder="选填"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">
                                            交接人：
                                        </label>
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                已选交接人
                                            </div>
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>编号</th>
                                                            <th>用户名</th>
                                                            <th>年龄</th>
                                                            <th>性别</th>
                                                            <th>职位</th>
                                                            <th>手机号码</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td id="selectedId"></td>
                                                            <td id="selectedName"></td>
                                                            <td id="selectedAge"></td>
                                                            <td id="selectedSex"></td>
                                                            <td id="selectedRole"></td>
                                                            <td id="selectedPhoneNumber"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            选择交接人
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered table-hover display" id="staffTable"
                                                       width="100%">
                                                    <thead>
                                                    <tr>
                                                        <th>编号</th>
                                                        <th>用户名</th>
                                                        <th>年龄</th>
                                                        <th>性别</th>
                                                        <th>职位</th>
                                                        <th>手机号码</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-lg-12">
                                    <button th:if="${!hasSubmitted}" type="submit" class="btn btn-primary pull-right" onclick="submitDepartureForm()">
                                        提交辞职申请
                                    </button>
                                    <button th:if="${hasSubmitted}" disabled="disabled" type="button" class="btn btn-primary pull-right" onclick="submitDepartureForm()">
                                        已提交申请
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script type="text/javascript" th:inline="javascript">
    //<![CDATA[
    var hintModal = $('#hint');
    var staffTable = $('#staffTable');
    $('document').ready(function () {
        staffTable.dataTable({
            language: {
                url: "/json/dataTables_cn.json"
            },
            ajax: {
                type: "GET",
                url: "/staff/findAllStaffsButSelf",
                dataSrc: ''
            },
            columns: [
                {data: 'id'},
                {data: 'name'},
                {data: 'age'},
                {
                    data: 'sex',
                    render: function (isMan) {
                        if (isMan != null) {
                            if (isMan)
                                return "男";
                            else
                                return "女";
                        } else {
                            return "";
                        }
                    }
                },
                {data: 'role'},
                {data: 'phoneNumber'}
            ]
        });
        $('#resignForm').validator({
            delay: 100,
            custom: {
                dateAfterToday: function ($el) {
                    var today = new Date().toISOString().substr(0,10);
                    if ($el.val() <= today) {
                        return "离职时间必须在今天之后！";
                    }
                }
            }
        });
        staffTable.find("tbody").on('click', 'tr', function () {
            var selectedNo = $(this).context._DT_RowIndex;
            var staffs = staffTable.fnGetData();
            $('#selectedId').html(staffs[selectedNo].id);
            $('#selectedName').html(staffs[selectedNo].name);
            $('#selectedAge').html(staffs[selectedNo].age);
            $('#selectedRole').html(staffs[selectedNo].role);
            $('#selectedPhoneNumber').html(staffs[selectedNo].phoneNumber);
            if (staffs[selectedNo].sex) {
                $('#selectedSex').html("男");
            } else {
                $('#selectedSex').html("女");
            }
        })
    });

    function submitDepartureForm() {
        var selectedId = $('#selectedId').html();
        if (selectedId == "") {
            $('#hintContent').html("请选择交接人!");
            $('#success').hide();
            $('#fail').show();
            hintModal.modal('show');
        } else {
            $.ajax({
                type: "POST",
                url: "/staff/resign",
                data: JSON.stringify({
                    audited: false,
                    staffId: [[${session.staffObj.getId()}]],
                    departureDate: $('#departureDate').val(),
                    reason: $('#reason').val(),
                    advise: $('#advise').val(),
                    handoverStaffId: selectedId
                }),
                contentType: "application/json;charset=utf-8",
                success: function () {
                    $('#fail').hide();
                    $('#success').show();
                    $('#hintContent').html("提交成功！");
                    hintModal.modal('show');
                }
            })
        }
    }
    //]]>
</script>
</body>
</html>